.dark{
  // 页面的背景底色
  --page-bg: #050e21;
  // 页面各模块区域背景色
  --page-area-bg: #0a2143;
  // 一级文字颜色
  --text-color-level1: #ffffff;
  // 二级文字颜色
  --text-color-level2:#bae8ff;
  // 常规文字颜色
  --text-color-regular: #70aee7;
  // 禁用文字颜色
  --text-color-disabled: #2f5b99;
  // 表格表头文字颜色
  --text-color-table-head: #53eafa;

  // 表单选项背景色
  --inner-bg: #051835;
  // 表单选项下拉hover背景色
  --inner-hover-bg: #072041;

  // 表格背景颜色
  --table-bg: #0a2143;
  --table-bg-striped: #14436f;
  --table-header-bg: linear-gradient(to bottom, #0d3057, #072345);
  --table-row-hover: #215585;

  // 边框颜色
  --border-color: #154573;
  --border-color-active: #3cadc2;

  // 分页样式
  --pagination-bg: var(--inner-bg);

  // 弹窗渐变标题背景
  --dialog-header-bg: linear-gradient(#011a30,#00427b);
}